.container {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 5%;
}

a {
  text-decoration: none;
}

.exercise-1.div-red {
  background-color: red;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}

.exercise-2 p {
  background-color: rgb(240, 100, 100);
  font-family: 'verdana', 'dejavu sans', sans-serif;
}

.exercise-2 #text-large-blue {
  color: rgba(19, 19, 218, 0.856);
  font-size: 36px;
}

.exercise-2 p .bigger-p{
  font-size: 24px;
}

.exercise-2 #bg-green-bold {
  background-color: rgba(87, 211, 87, 0.817);
  font-size: 24px;
  font-weight: bold;
}

.exercise-3 button {
  font-family: 'helvetica', 'Times New Roman', serif;
  font-size: 28px;
}

.exercise-3 .black {
  background-color: black;
  color: white;
}

.exercise-3 .yellow {
  background-color: yellow;
  color: black;
}

.exercise-4 .avatar.proportioned {
  width: 300px;
  height: auto;
}

.exercise-4 .avatar.distorted {
  width: 200px;
  height: 400px;
}

.exercise-5 div p {
  background-color: yellow;
  color: red;
  font-size: 20px;
  text-align: center;
}
